@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden min-h-full;
  }
  body {
    @apply font-primary;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .shadow-card {
    @apply relative rounded-[20px] before:absolute before:-z-10 before:h-full before:w-full before:top-[6px] before:left-[6px] before:rounded-[20px];
  }
}

/* react slick carousel styles */

.slick-arrow {
  z-index: 99;
  width: 42px !important;
  height: 42px !important;
}

.slick-slide > div {
  margin: 0 8px;
}

.slick-disabled {
  filter: grayscale(100);
}